.ArticleCard {
  border: 1px solid black;
  width: 100%;
  max-width: 350px;
}

.article-card-header {
  color: #009fb7;
  background-color: #e6e6ea;
  margin: 20px 20px 0px 20px;
  display: inline-block;
}

.article-card-author > * {
  color: #fed766;
  font-weight: 900;
}

.article-card-meta-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
  height: min-content;
}

.article-card-meta-info > * {
  margin: 0px;
}
.article-card-button {
  background-color: #f4f4f8;
  border: 1px solid black;
  color: black;
  padding: 0.8em;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.article-card-button:hover {
  cursor: pointer;
  background-color: #fed766;
}
