.Articles {
  border: 1px solid blue;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  gap: 20px;
  align-items: stretch;
}

.page-buttons {
  width: 100%;
}
.page-buttons > * {
  margin: 0.25em;
}
