.ArticleSelector {
  width: 90%;
  margin: 0 auto;
}

.article-selector-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  flex-wrap: wrap;
  gap: 20px;
}
form {
  padding: 20px;
}

select {
  padding: 0.8em;
}

button {
  padding: 0.8em;
}

.article-selector-form-fieldset {
  border: none;
  width: 32%;
  display: flex;
  min-width: 460px;
  flex-direction: column;
}

.article-selector-form-fieldset > * {
  margin: 0.2em;
}
