.Articles {
  width: 100%;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  gap: 20px;
  align-items: stretch;
}

.articles-title {
  background-color: #fed766;
  display: inline-block;
  margin-bottom: 0px;
}

.page-buttons {
  width: 100%;
}
.page-buttons > * {
  margin: 0.25em;
}
