.article-detail-container {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.article-detail-title {
  font-family: "Roboto Mono", monospace;
  font-weight: 1200;
  background-color: #fed766;
  margin-bottom: 0px;
}

.article-detail-delete-article {
  background-color: #fe4a49;
  margin-top: 20px;
}
.article-detail-information-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
}
.aricle-detail-username-date {
  min-width: 350px;
}
.article-detail-topic {
  background-color: #009fb7;
  font-weight: 600;
}

.article-detail-comments-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
}
.article-detail-body {
  min-width: 300px;
  margin: 0 auto;
  background-color: #f4f4f8;
}

.article-detail-comments-form > * {
  margin: 0.2em;
}

.article-detail-comments-header {
  font-family: "Roboto Mono", monospace;
}

.article-detail-view-author {
  margin-top: 20px;
}

button {
  background-color: #f4f4f8;
  border: 1px solid black;
  color: black;
  padding: 0.8em;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #fed766;
}
