.CommentCard {
  width: 50%;
  min-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.comment-delete-button {
  background-color: red;
}

.comment-vote-button-containers > button {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
