.CreateArticle {
  width: 100%;
}

.create-article-form {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 350px;
  margin: 0 auto;
}

.create-article-form-text-area { 
  width: 100%;
  min-height: 200px;
  overflow-y: scroll;
  resize: none;
}
.create-article-form > * {
  margin: 0.2em;
}

.create-article-form-warning {
  color: red;
}
