.navbar {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 100%;
}

.navbar > .navbar-button {
  background-color: #f4f4f8;
  border: none;
  margin: 0.2em;
}

.navbar > .navbar-button:hover {
  font-weight: 1000;
  cursor: pointer;
}

.active-nav-button {
  color: #fed766;
}
