.NavBar {
  border: 1px solid green;
  padding: 15px;
}

.NavBar > .navbar-button {
  background-color: #f4f4f8;
  border: none;
  margin: 0.2em;
}

.NavBar > .navbar-button:hover {
  font-weight: 1000;
  cursor: pointer;
}

.active-nav-button {
  color: #fed766;
}
