.UserCard {
  border: 1px solid black;
}

.usercard-container {
  justify-content: center;
  align-items: center;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(200px, 700px));
  width: 350px;
  height: 400px;
}
.usercard-container > * {
  padding: 0.2em;
}
.usercard-profile-photo {
  height: 200px;
  margin: 0 auto;
}

.usercard-titles {
  margin: 0 auto;
  min-width: 350px;
}

.usercard-username {
  font-weight: 900;
  background-color: ;
}
