.UserDetails {
  width: 100%;
}

.user-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}

.user-details-image {
  width: 100%;
  margin: 0 auto;
}

.articles-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.user-details-image-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  margin: 0 auto;
}
