.UserCard {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
  border: 1px solid black;
}

.usercard-container {
  display: grid;

  grid-template-columns: 300px 1fr;
  width: 100%;
}

.usercard-profile-photo {
  height: 200px;
  margin: 0 auto;
}

.usercard-titles {
  margin: 0 auto;
}
