.UserDetails {
  width: 100%;
}

.user-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}

.user-details-image {
  border: 1px solid black;
  width: 500px;
  margin: 0 auto;
  border-radius: 50%;
}

.articles-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
